parameters:
    excludePaths:
        - src/Repository/ResetPasswordRequestRepository.php
        - config/reference.php
    level: 10
    paths:
        - config
        - src
    ignoreErrors:
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
