parameters:
    excludePaths:
        - src/Repository/ResetPasswordRequestRepository.php
        - config/bundles.php
        - config/preload.php
        - config/reference.php
        - src\Model\AeonShift\PointsList\MTG\V1\MTGPointsListModelV1.php
    parallel:
        processTimeout: 300.0
        jobSize: 20
        maximumNumberOfProcesses: 16
        minimumNumberOfJobsPerProcess: 2
    level: 10
    paths:
        - config
        - src
    ignoreErrors:
        # Ignore missing generic type errors, PHPStan is not yet able to infer them in some cases, why Psalm does
        - identifier: missingType.generics
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
