parameters:
    excludePaths:
        - src/Repository/ResetPasswordRequestRepository.php
        - config/reference.php
    level: 10
    paths:
        - config
        - src
    ignoreErrors:
        # Ignore missing generic type errors, PHPStan is not yet able to infer them in some cases, why Psalm does
        - identifier: missingType.generics
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
