<div class="spaceless-row theme1 quiz-choice-row mt-12" id="formats">
    <div class="main-column no-shadow lg:pt-20 min-h-screen">
        <div class="w-full text-center flex flex-col justify-center items-center">
            <div class="flex flex-col lg:flex-row w-full justify-around items-center">
                <a class="btn btn-star btn-blue btn-big m-2" href="#quiz" title="{{ 'front.mtg.points.choose.links.quiz.title'|trans|striptags }}" data-turbo="false">
                    <span class="top-left"></span>
                    <span class="top-right"></span>
                    <span class="title">
                        <span class="icon-question"></span>
                        {{ 'front.mtg.points.choose.links.quiz.text'|trans }}
                    </span>
                    <span class="bottom-left"></span>
                    <span class="bottom-right"></span>
                </a>
                <a class="btn btn-star btn-gray btn-big m-2" href="#calculator" title="{{ 'front.mtg.points.choose.links.gotoform.title'|trans|striptags }}" data-turbo="false">
                    <span class="top-left"></span>
                    <span class="top-right"></span>
                    <span class="title">
                        <span class="icon-cancel"></span>
                        {{ 'front.mtg.points.choose.links.gotoform.text'|trans }}
                    </span>
                    <span class="bottom-left"></span>
                    <span class="bottom-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>
