/* These properties will apply to both the web AND embedded applications */
@tailwind base;
@tailwind components;
@tailwind utilities;
@reference "tailwindcss";

@source "../../templates";
@source "../../assets";

@font-face {
    font-family: 'Ethnocentric';
    src: url('../fonts/ethnocentric-regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot');
    src: url('../fonts/fontello.eot#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff2') format('woff2'),
    url('../fonts/fontello.woff') format('woff'),
    url('../fonts/fontello.ttf') format('truetype'),
    url('../fonts/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --theme-white: #fefefe;
    --theme-white-alt: #f5f5f5;

    /* Neutral tones */
    --theme-neutral-dark: #151515;
    --theme-neutral-dark-table: #202020;
    --theme-neutral-dark-translucent: rgba(15, 15, 15, 0.55);
    --theme-neutral-dark-translucent-alt: rgba(30, 30, 30, 0.65);
    --theme-neutral-dark-hover: #272727;
    --theme-neutral-dark-alt: #303030;
    --theme-neutral-dark-alt-hover: #454545;
    --theme-neutral-medium: #4E4E4E;
    --theme-neutral-light: #888888;
    --theme-neutral-light-hover: #979797;
    --theme-neutral-light-alt: #A5A5A5;
    --theme-neutral-light-alt-hover: #B2B2B2;
    --theme-gray-light: #D9D9D9;
    --theme-gray-light-translucent: rgba(220, 220, 220, 0.65);
    --theme-gray-medium-translucent: rgba(88, 88, 88, 0.45);

    /* Tonality tones */
    --theme-blue-blind: #8cd3ff;
    --theme-blue-light: #0085D7;
    --theme-blue-light-translucent: rgba(0, 133, 215, 0.55);
    --theme-blue-medium: #0073BB;
    --theme-blue-medium-translucent: rgba(0, 115, 187, 0.45);
    --theme-blue-dark: #004F80;

    --theme-green-light: #E2E500;
    --theme-green-light-translucent: rgba(226, 229, 0, 0.55);
    --theme-green-medium: #A7AB00;
    --theme-green-medium-translucent: rgba(167, 171, 0, 0.45);
    --theme-green-dark: #8A8D00;

    --theme-yellow-light: #DBD848;
    --theme-yellow-medium: #A09E35;
    --theme-yellow-dark: #88882B;

    --theme-red-light: #CD6666;
    --theme-red-medium: #B05858;
    --theme-red-dark: #753B3B;
}

* {
    font-family: 'Outfit', 'Arial', sans-serif;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

::before, ::after {
    --tw-content: '';
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

html {
    font-optical-sizing: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 100%;
    word-break: break-word;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at center, var(--theme-neutral-dark) 600px, var(--theme-neutral-dark-alt) 2500px);
    color: var(--theme-white);
    font-weight: normal;
    font-style: normal;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    text-rendering: geometricPrecision;
    position: relative;
}

h1, h2, h3, h4, h5, h6,
.title-h1, .title-h2, .title-h3, .title-h4, .title-h5, .title-h6 {
    font-weight: 600;
    font-family: 'Ethnocentric', 'Arial', sans-serif;
    text-wrap: balance;
}

h1, .title-h1 {
    font-size: 2.3em;
    position: relative;
    margin-bottom: 1.25rem;
    display: inline-block;
    padding: 1.25rem 0.75rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.25;
}

.theme1 h1::after,
.theme1 .title-h1::after {
    content: ' ';
    position: absolute;
    width: 33%;
    left: 33%;
    bottom: 0;
    border-bottom: 1px var(--theme-neutral-light) solid;
}

h2, .title-h2 {
    font-size: 1.8em;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
    line-height: 1.5;
}

h3, .title-h3 {
    font-size: 1.5em;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    width: 100%;
    line-height: 1.5;
}

h4, .title-h4 {
    font-size: 1.2em;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 100%;
    line-height: 1.5;
}

h5, .title-h5 {
    font-size: 1.05em;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 100%;
    line-height: 1.5;
}

.main-content .theme1 h2::after,
.main-content .theme1 .title-h2::after {
    content: ' ';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border-bottom: 1px var(--theme-neutral-medium) solid;
}

span, strong, em {
    font-family: inherit;
}

a, tr {
    transition: all 0.09s ease 0s;
}

ol, ul, menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select,
.dt-search input {
    border-width: 2px;
    border-color: #9ca3af;
    border-radius: 0.5rem;
    background-color: var(--theme-neutral-dark-alt);
    color: var(--theme-white);
    display: block;
    width: 100%;
    padding: 0.625rem;
    transition: all 0.2s ease-in-out;
}

[type="text"]:hover,
[type="email"]:hover,
[type="url"]:hover,
[type="password"]:hover,
[type="number"]:hover,
[type="date"]:hover,
[type="datetime-local"]:hover,
[type="month"]:hover,
[type="search"]:hover,
[type="tel"]:hover,
[type="time"]:hover,
[type="week"]:hover,
[multiple]:hover,
textarea:hover,
select:hover,
.dt-search input:hover {
    border-color: #60a5fa;
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus,
.dt-search input:focus {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-color: #3b82f6;
    outline: 2px solid var(--theme-neutral-dark-alt);
    outline-offset: 2px;
}

input::placeholder {
    color: var(--theme-neutral-light);
}

textarea::placeholder {
    white-space: pre-line;
}

input[type="file"] {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-width: 1px;
    border-color: var(--theme-neutral-light-alt);
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: var(--theme-neutral-dark-alt);
    color: var(--theme-white);
    outline: 2px solid transparent;
    outline-offset: 2px;
}

input[type="file"]:hover {
    border-color: #3b82f6;
    background-color: var(--theme-neutral-dark-hover);
}

input[type="checkbox"], input[type="radio"] {
    border-radius: 1px;
    border-color: #808080;
}

input[type="file"]::file-selector-button {
    color: white;
    border: 0;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    padding: 0.625rem 1rem 0.625rem 2rem;
    margin-inline-start: -1rem;
    margin-inline-end: 1rem;
    background-color: var(--theme-blue-medium);
}

input[type="file"]::file-selector-button:hover {
    background-color: var(--theme-blue-light);
}

option {
    width: 100%;
    display: inline-block;
}

select option:checked {
    background-color: var(--theme-blue-light);
    color: black;
}

.dt-search input {
    margin-top: 5px;
    background-color: var(--theme-neutral-medium) !important;
}

.switch-field {
    display: flex;
}

.help {
    width: 1em;
    height: 1em;
    display: inline-block;
    background-color: #555;
}

.help-text {
    color: var(--theme-neutral-light);
    margin-top: 0.2em;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: var(--theme-blue-dark);
    color: var(--theme-gray-light);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
    will-change: transition, color, background-color;
    user-select: none;
}

.switch-field input:disabled + label {
    color: var(--theme-neutral-light);
    background-color: var(--theme-neutral-medium);
    cursor: not-allowed;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: var(--theme-green-light);
    color: var(--theme-neutral-dark);
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control::before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control::before {
    border-left: 10px solid rgba(240, 250, 130, 0.5) !important;
    border-top: 5px solid transparent !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.dtr-expanded > td.dtr-control::before,
table.dataTable.dtr-inline.collapsed > tbody > tr.dtr-expanded > th.dtr-control::before {
    border-top: 10px solid rgba(240, 250, 130, 0.5) !important;
    border-left: 5px solid transparent !important;
}

.theme1 {
    background-color: var(--theme-neutral-dark);
    color: var(--theme-white);
    border-color: var(--theme-neutral-medium);
}

.theme2 {
    background-color: var(--theme-white);
    color: var(--theme-neutral-dark);
    border-color: var(--theme-neutral-medium);
}

.green-text {
    color: var(--theme-green-light);
}

.blue-text {
    color: var(--theme-blue-light);
}

.white-text {
    color: var(--theme-white);
}

caption {
    font-size: 1.25em;
    padding: 1.5em 0.9em 0.6em 0.9em;
    font-weight: bold;
}

a {
    text-decoration: inherit;
    color: var(--theme-yellow-medium);
}

a:hover {
    text-decoration: none;
    color: var(--theme-yellow-light);
}

.theme1 a, .theme1 a:visited {
    color: var(--theme-yellow-light);
}

.theme1 a:hover, .theme1 a:visited:hover {
    color: var(--theme-yellow-medium);
}

.theme2 a, .theme2 a:visited {
    color: var(--theme-neutral-dark);
}

.theme2 a:hover, .theme2 a:visited:hover {
    color: var(--theme-neutral-medium);
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    text-transform: uppercase;
}

.menu {
    display: none;
}

@media (min-width: 1024px) {
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.menu-open {
    display: flex !important;
    overflow: scroll;
    padding-bottom: 1.2em;
}

.footer {
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-text {
    text-align: center;
    padding: 3em 0;
}

.spacer-row {
    height: 3em;
    background-color: transparent;
    width: 100%;
    box-shadow: none !important;
    border: none !important;
}

.spaceless-row, .main-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main-row {
    border-width: 0;
    border-style: solid;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 1.5rem;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
}

@media (min-width: 1024px) {
    .main-content {
        min-height: 10rem;
    }
}

.transparent-row {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.top-video-overflow-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    min-height: 800px;
}

.top-video-height-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.top-video-height-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.btn img, .btn svg {
    max-height: 1em;
    display: inline;
    margin-bottom: 0.2em;
    width: 1em;
}

.block-text {
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

@media (min-width: 1024px) {
    .block-text {
        width: 60%;
    }
}

.block-text p {
    margin-bottom: 1.5rem;
}

.main-content .main-row {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 800px;
}

.main-column {
    max-width: 1600px;
    width: 100%;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
}

.table {
    margin: 0.1em;
    width: 100%;
    table-layout: fixed;
    font-size: 0.9em;
}

.table-auto {
    table-layout: auto !important;
}

.table.center {
    text-align: center;
}

.table thead {
    border-style: solid;
    border-width: 0 0 3px 0;
}

.table th {
    padding: 0.6em 0.5em;
    overflow-wrap: anywhere;
}

.table td {
    padding: 0.6em 0.5em;
    overflow-wrap: anywhere;
}

table li {
    margin: 0 !important;
}

table ul {
    margin: 0 !important;
}

.header-highlight-table {
    border-spacing: 0;
    border-collapse: separate;
}

.header-highlight-table thead {
    position: sticky;
    top: 45px;
    box-shadow: 0 2px 5px var(--theme-neutral-dark);
    z-index: 10;
}

.header-highlight-table thead th {
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-top-style: solid;
}

.theme1 .table thead {
    background-color: var(--theme-neutral-dark);
    border-bottom-color: var(--theme-neutral-medium);
}

.theme1 .table tr {
    background-color: var(--theme-neutral-dark-table);
    color: var(--theme-white);
}

.theme1 .table tr:nth-child(even) {
    background-color: var(--theme-neutral-dark-alt);
}

.theme1 .table tr:hover {
    background-color: var(--theme-neutral-dark-hover);
}

.theme1 .table tr:nth-child(even):hover {
    background-color: var(--theme-neutral-dark-alt-hover);
}

.theme2 .table thead th {
    background-color: var(--theme-neutral-dark-alt);
    border-bottom-color: var(--theme-neutral-medium);
    border-top-color: var(--theme-neutral-medium);
}

.theme2 .table tr {
    background-color: var(--theme-neutral-light);
    color: var(--theme-neutral-dark);
}

.theme2 .table tr:nth-child(even) {
    background-color: var(--theme-neutral-light-alt);
}

.theme2 .table tr:hover {
    background-color: var(--theme-neutral-light-hover);
}

.theme2 .table tr:nth-child(even):hover {
    background-color: var(--theme-neutral-light-alt-hover);
}

.theme1 .header-highlight-table thead {
    color: var(--theme-blue-light);
}

.theme1 .header-highlight-table thead tr,
.theme1 .header-highlight-table thead tr:hover {
    background-color: var(--theme-neutral-medium);
}

.table-id-column {
    width: 4em;
    text-align: center;
}

table .btn {
    margin: 0.25rem;
}

.example-table * {
    font-family: monospace !important;
}

.example-table em {
    color: var(--theme-neutral-light);
}

.example-table td {
    border: 1px var(--theme-neutral-light) solid;
    padding: 0.2em 0.5em;
    word-break: keep-all;
    line-break: normal;
}

.dt-search {
    margin: auto;
    padding: 0.5em 1.2em;
    width: 40%;
}

.dt-layout-cell.dt-layout-start,
.dt-layout-cell.dt-layout-end {
    flex: 1;
}

.dt-info {
    padding: 0.5em 2em;
    text-align: center;
    width: 100%;
    display: inline-block;
    flex-grow: 1;
}

.dt-column-title {
    text-align: center;
}

.top-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    color: var(--theme-neutral-dark);
    top: 0;
    z-index: 50;
    position: relative;
}

.menu a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1.3em 1.2em;
    position: relative;
    line-height: 1.6rem;
    vertical-align: middle;
    font-size: 1.2em;
    text-wrap: balance;
    font-family: 'Outfit', sans-serif;
    color: var(--theme-white);
    text-shadow: 1px 1px 1px var(--theme-neutral-dark), -1px -1px 1px var(--theme-neutral-light);
    transition: all 0.1s ease-out;
    letter-spacing: 0.1em;
}

.menu a:hover {
    color: var(--theme-blue-blind);
    text-shadow: 1px 1px 1px var(--theme-neutral-medium), -1px -1px 1px var(--theme-neutral-light);
}

.menu a::after {
    content: '';
    position: absolute;
    width: calc(100% - 2.4em);
    height: 2px;
    left: 1.2em;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
    background-color: var(--theme-blue-light);
}

.menu a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu a img, .menu a svg {
    max-height: 1em;
    vertical-align: middle;
    display: inline !important;
    line-height: 1em;
    max-width: 1em;
    margin-bottom: 0.2em;
}

.iconshape {
    fill: var(--theme-yellow-light);
    color: var(--theme-yellow-light);
}

#header-menu {
    position: relative;
}

.header .home-link a {
    padding-left: 60px;
}

.header .home-link a::before {
    content: ' ';
    position: absolute;
    left: 20px;
    background: transparent url("../images/aeonshift-icon.png") center center / contain no-repeat scroll;
    height: 30px;
    width: 30px;
    top: 18px;
    border-radius: 4px;
}

.header li:hover {
    color: var(--theme-yellow-dark);
    border-radius: 3px 3px 0 0;
}

.menu nav > ul {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .menu nav > ul {
        flex-direction: row;
    }
}

.header.menu nav > ul > li {
    border-width: 0 1px;
    border-style: solid;
    border-color: transparent;
    position: relative;
}

.header.menu nav > ul > li:hover {
    background-color: transparent;
}

.header.menu nav > ul > li:hover::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu li {
    padding: 0;
    text-align: center;
    position: relative;
    transition: all 0.06s ease-out;
    border-radius: 0 0 0 0;
}

.menu nav > ul > li > ul {
    position: absolute;
    display: none;
    flex-direction: column;
    color: var(--theme-yellow-light);
    min-width: 12em;
}

.menu nav > ul > li:nth-last-child(-n+3) > ul {
    right: 0;
}

.menu nav > ul > li:not(:nth-last-child(-n+3)) > ul {
    left: 0;
}

.menu-open nav > ul > li > ul {
    display: flex !important;
    width: 100%;
    position: relative;
}

.menu nav > ul > li:hover > ul,
.menu nav > ul > li:focus-within > ul {
    display: flex;
    width: 100%;
    min-width: 20em;
}

.menu nav > ul > li:hover > ul > li:hover,
.menu nav > ul > li:focus-within > ul > li:focus-within {
    transition: all 0.08s ease-out;
}

.menu-separator {
    height: 0.2em;
    background-color: var(--theme-neutral-dark-translucent);
}

.admin-home-nav .menu-separator {
    height: 0.05em;
    background-color: var(--theme-neutral-medium);
    padding: 0;
    margin: 1em 0;
}

button, [role="button"] {
    cursor: pointer;
}

.btn {
    font-weight: 700;
    border-width: 1px;
    border-color: transparent;
    border-radius: 0.25rem;
    text-align: center;
    display: inline-block;
    text-wrap: balance;
    line-height: 1.75rem;
    font-family: 'Oswald', sans-serif;
    padding: 0.25em 1rem 0.35em;
    --tw-bg-opacity: 1 !important;
    --tw-text-opacity: 1 !important;
}

.btn:focus {
    outline: #000 solid 1px;
}

.btn-big {
    font-size: 1.45rem;
    line-height: 2rem;
    padding: 0.7em 1.45em;
    text-transform: uppercase;
    transition: all 0.15s ease-out;
    border-radius: 0.75rem;
}

.btn:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.btn-gray {
    background-color: #4b5563;
    color: #fff !important;
}

.btn-gray:hover {
    background-color: #1f2937;
}

.btn-gold {
    color: #fff;
    border-width: 1px;
    border-color: #d1d5db;
    border-style: solid !important;
    background-color: var(--theme-yellow-dark);
}

.btn-gold:hover {
    color: #111827;
    border-color: #4b5563;
    background-color: var(--theme-yellow-medium);
}

.btn-gold:active,
.btn-gold:focus {
    color: #f3f4f6;
    border-color: #fbbf24;
    outline-color: #374151;
    background-color: var(--theme-yellow-light);
}

.btn-red {
    background-color: #b91c1c;
    color: #fff !important;
}

.btn-red:hover {
    background-color: #7f1d1d !important;
}

.btn-orange {
    background-color: #ea580c;
    color: #fff !important;
}

.btn-orange:hover {
    background-color: #9a3412 !important;
}

.btn-green {
    background-color: var(--theme-green-dark);
    color: #fff !important;
}

.btn-green:hover {
    background-color: var(--theme-green-medium);
}

.btn-blue {
    background-color: var(--theme-blue-dark);
    color: #fff !important;
}

.btn-blue:hover {
    background-color: var(--theme-blue-medium);
}

.btn-white {
    background-color: var(--theme-white-alt);
    color: var(--theme-neutral-dark) !important;
    border-width: 2px;
    border-style: solid !important;
    border-color: rgba(0.95, 0.95, 0.95, 0.2);
}

.btn-white:hover {
    border-color: #475569 !important;
    background-color: var(--theme-white);
    border-color: rgba(0.85, 0.85, 0.85, 0.7);
}

.btn-contour {
    border: 2px solid var(--theme-neutral-dark-alt) !important;
    box-shadow: 0 0 4px var(--theme-white) inset, 0 2px 7px -4px rgba(25, 25, 25, 0.8);
    transition: all 0.2s ease-out;
}

.btn-contour:hover {
    border: 2px solid var(--theme-neutral-dark-alt-hover) !important;
    box-shadow: 0 0 6px var(--theme-white) inset, 0 2px 7px -4px rgba(200, 200, 200, 0.8);
}

.main-row form {
    width: 100%;
}

.main-row ul, .main-row ol {
    margin-bottom: 1.5em;
}

.main-row ul li {
    list-style: disc inside none;
    margin-left: 1.5em;
    margin-bottom: 0.3em;
}

.main-row ol li {
    list-style: decimal inside none;
    margin-left: 1.5em;
    margin-bottom: 0.3em;
}

.main-row form ul, .main-row form ol {
    margin-bottom: 0.1em;
}

.form-container {
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    border-radius: 0.75rem;
    border-width: 1px;
    border-style: solid;
    word-wrap: break-word;
    word-break: normal;
    text-wrap: balance;
    align-items: center;
}

@media (min-width: 1024px) {
    .form-container {
        padding: 1.5rem;
    }
}

.theme1 .form-container {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #94a3b8;
}

.theme2 .form-container {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #f1f5f9;
}

.reverse-form-container {
    background-color: var(--theme-neutral-dark-translucent) !important;
    color: var(--theme-blue-dark) !important;
    border-color: #1e293b !important;
}

fieldset {
    border-width: 1px;
    border-color: var(--theme-neutral-medium);
    border-style: solid;
    padding: 0.75rem 0.5rem;
    border-radius: 0.25rem;
    background-color: rgba(245, 245, 255, 0.18);
    box-shadow: 0 0 8px -2px var(--theme-neutral-medium);
}

@media (min-width: 1024px) {
    fieldset {
        padding: 1.5rem 1rem;
    }
}

.theme2 fieldset {
    background-color: var(--theme-neutral-dark-translucent);
    border-color: var(--theme-neutral-medium);
}

.form-container ul, .form-container ol {
    margin-bottom: 0 !important;
}

.form-container li {
    margin-left: 0 !important;
}

.form-container li li {
    margin-left: 0.8em !important;
}

.form-container > ul > li {
    margin-left: 0.5em !important;
}

.rows-fieldset, .actions-fieldset {
    margin-bottom: 1.5rem;
}

legend {
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

label, .label {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5em;
}

label.required::before, .label.required::before {
    content: '* ';
    color: var(--theme-red-light);
    font-weight: bold;
}

.form-choices label, .form-choices .label {
    text-transform: none !important;
}

hr {
    height: 1px;
    width: 100%;
    display: inline-block;
    margin: 0.6em 0;
    position: relative;
    background-color: transparent;
    border: 0 solid transparent;
}

hr::before {
    position: absolute;
    content: ' ';
    width: 70%;
    left: 15%;
    top: 0;
    margin-bottom: 2px;
}

.theme1 hr {
    background-color: var(--theme-neutral-medium);
}

.theme2 hr {
    background-color: var(--theme-neutral-light);
}

.messages {
    width: 100%;
}

.title-image {
    vertical-align: middle;
    line-height: 1em !important;
    display: inline;
    max-height: 1.3em;
    margin-bottom: 0.2em;
}

.flash-message {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 0.4em 2em 0.4em 2.5em;
    margin: 0.5em 0 0.5em 0;
    position: relative;
    font-size: 1.1em;
    line-height: 1.2em;
}

.event-places .flash-message {
    font-size: 1.0em;
}

.flash-message::before {
    left: 0.7em;
    top: 0.3em;
    height: 1em;
    width: 1em;
    position: absolute;
}

.flash-message a {
    text-decoration: underline;
}

/*noinspection CssUnusedSymbol*/
.flash-success {
    background-color: #ddffdd;
    color: #008800;
    border-color: #008800;
}

.flash-success a {;
    color: #005000;
}

/*noinspection CssUnusedSymbol*/
.flash-error {
    background-color: #ffdddd;
    color: #880000;
    border-color: #880000;
}

.flash-error a {;
    color: #500000;
}

/*noinspection CssUnusedSymbol*/
.flash-info {
    background-color: #dadaeb;
    color: #1e1e8e;
    border-color: #1e1e8e;
}

.flash-info a {
    color: #000032;
}

/*noinspection CssUnusedSymbol*/
.flash-warning {
    background-color: #ede8c0;
    color: #6f3107;
    border-color: #6f3107;
}

.flash-warning a,
.flash-warning a:hover,
.flash-warning a:visited {
    color: #3d1b04 !important;
}

.flash-success a,
.flash-success a:hover,
.flash-success a:visited {
    color: #004d00 !important;
}

/*noinspection CssUnusedSymbol*/
.flash-success::before {
    content: '✅';
}

/*noinspection CssUnusedSymbol*/
.flash-error::before {
    content: '⛔';
}

/*noinspection CssUnusedSymbol*/
.flash-info::before {
    content: 'ℹ️️';
}

/*noinspection CssUnusedSymbol*/
.flash-warning::before {
    content: '⚠️';
}

.flash-message li {
    margin-left: 1.2em !important;
}

.tooltip {
    display: inline;
    position: relative;
    z-index: 999;
}

.tooltip-item {
    cursor: pointer;
    display: inline-block;
    line-height: 1em;
    vertical-align: text-bottom;
}

.tooltip-item [class^="icon-"]::before,
.tooltip-item [class*="icon-"]::before {
    margin: 0;
}

.tooltip-item::after {
    content: '';
    position: absolute;
    width: 360px;
    height: 20px;
    bottom: 100%;
    left: 50%;
    pointer-events: none;
    transform: translateX(-50%);
}

.tooltip:hover .tooltip-item::after {
    pointer-events: auto;
}

.tooltip-content {
    position: absolute;
    z-index: 9999;
    width: 360px;
    left: 50%;
    margin: 0 0 20px -180px;
    bottom: 100%;
    text-align: left;
    font-size: 0.765em;
    line-height: 1.4;
    box-shadow: 0 13px 20px -15px var(--theme-neutral-dark-alt);
    background: var(--theme-neutral-dark-alt);
    opacity: 0;
    cursor: default;
    pointer-events: none;
    transform: translate3d(0, -10px, 0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.tooltip:hover .tooltip-content {
    pointer-events: auto;
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
}

.tooltip.tooltip-effect-2:hover .tooltip-content {
    transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.tooltip-content::after {
    content: '';
    top: 100%;
    left: 50%;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 10px solid transparent;
    border-top-color: var(--theme-neutral-dark-alt);
    margin-left: -10px;
}

.tooltip-text {
    font-size: 1em;
    line-height: 1.6em;
    display: block;
    padding: 1em;
    color: var(--theme-white);
}

.navigation {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    background-color: var(--theme-white-alt);
}

.navigation span {
    display: inline-block;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border-radius: 0.25rem;
}

.navigation span:not(:has(a)) {
    padding: 0.5rem 1.25rem;
    background-color: var(--theme-neutral-medium);
    border-radius: 0.25rem;
    color: var(--theme-neutral-light);
}

.navigation span a {
    padding: 0.5rem 1.25rem;
    display: inline-block;
    border-radius: 0.25rem;
    color: var(--theme-yellow-medium) !important;
}

.navigation span a:hover {
    background-color: var(--theme-neutral-medium);
    color: var(--theme-yellow-light) !important;
}

.page-content {
    width: 100%;
}

@media (min-width: 1024px) {
    .page-content {
        width: 83.333333%;
    }
}

.page-content img {
    display: inline-block;
}

.page-content h3 {
    padding-left: 1rem;
}

.page blockquote {
    border-width: 1px;
    border-color: #a1a1aa;
    border-style: solid;
    padding: 0.75rem 0.5rem;
    border-radius: 0.25rem;
    background-color: rgba(245, 245, 245, 0.18);
}

@media (min-width: 1024px) {
    .page blockquote {
        padding: 1.5rem 1rem;
    }
}

blockquote {
    position: relative;
    font-style: italic;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 2em 4.5em;
}

blockquote::before {
    content: '«';
    position: absolute;
    width: 1em;
    height: 1em;
    font-size: 5em;
    left: 0.2em;
    top: 0;
    line-height: 1em;
}

blockquote::after {
    content: '»';
    position: absolute;
    width: 1em;
    height: 1em;
    font-size: 5em;
    right: 0.2em;
    bottom: 0;
    line-height: 1em;
}

code {
    padding: 0.15rem;
    margin-top: 0.25rem;
    border-radius: 0.25rem;
    border-width: 1px;
    border-style: dashed;
    border-color: #64748b;
    color: var(--theme-white);
    display: block;
    transition-property: all;
    transition-duration: 700ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    cursor: text;
    position: relative;
    white-space: nowrap;
    background: var(--theme-neutral-dark-translucent);
    min-width: max-content;
    font-style: normal;
}

#skipcontent {
    display: block;
    position: fixed;
    left: 0;
    padding: 1rem;
    background-color: #fff;
    color: #000;
    top: -80px;
}

#skipcontent:focus {
    top: 0;
    z-index: 100;
}

.sharer-bar {
    line-height: 1.5;
    width: 100%;
    display: inline-block;
    height: 1.5rem;
    vertical-align: super;
}

.share-link {
    display: inline-block;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    line-height: 1.5;
    height: 1.5rem;
    margin: auto;
    vertical-align: super;
}

.share-link span {
    display: inline-block;
    height: 1.5rem;
    margin: auto;
    vertical-align: super;
}

.share-link svg {
    height: 1.5rem;
    width: auto;
    display: inline-block;
    margin: auto;
}

iframe {
    max-width: 100%;
    height: auto;
    border-radius: 0.125rem;
    border-style: solid;
    border-width: 2px;
    z-index: 10;
    position: relative;
    min-height: 20em;
}

.theme1 iframe {
    border-color: var(--theme-neutral-medium);
    box-shadow: 0 0 6px 1px var(--theme-neutral-light);
}

.theme2 iframe {
    border-color: var(--theme-neutral-light);
    box-shadow: 0 0 6px 1px var(--theme-neutral-light-alt);
}

[class^='icon-']:before, [class*=' icon-']:before {
    font-family: 'Fontello', serif;
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.15em;
}

.icon-search:before {
    content: '\e800';
}

.icon-ok:before {
    content: '\e801';
}

.icon-cancel:before {
    content: '\e802';
}

.icon-plus:before {
    content: '\e803';
}

.icon-attention:before {
    content: '\e804';
}

.icon-info:before {
    content: '\e805';
}

.icon-question:before {
    content: '\e806';
}

.icon-globe:before {
    content: '\e807';
}

.icon-user:before {
    content: '\e808';
}

.icon-group:before {
    content: '\e809';
}

.icon-star:before {
    content: '\e80a';
}

.icon-share:before {
    content: '\e80b';
}

.icon-th-list:before {
    content: '\e80c';
}

.icon-link:before {
    content: '\e80d';
}

.icon-cog:before {
    content: '\e80e';
}

.icon-target:before {
    content: '\e80f';
}

.icon-globe-1:before {
    content: '\e810';
}

.icon-off:before {
    content: '\e811';
}

.icon-docs:before {
    content: '\e812';
}

.icon-flag-filled:before {
    content: '\e813';
}

.icon-pencil:before {
    content: '\e814';
}

.icon-target-1:before {
    content: '\e815';
}

.icon-cloud-sun-inv:before {
    content: '\e816';
}

.icon-calendar:before {
    content: '\e817';
}

.icon-globe-inv:before {
    content: '\f019';
}

.icon-food:before {
    content: '\f0f5';
}

.icon-bullseye:before {
    content: '\f140';
}

.icon-wheelchair:before {
    content: '\f193';
}

.icon-trash:before {
    content: '\f1f8';
}

.icon-clone:before {
    content: '\f24d';
}

.icon-chart-bar:before {
    content: '\e818';
}

.icon-shop:before {
    content: '\e819';
}

.icon-th-large:before {
    content: '\e81a';
}

.icon-list-numbered:before {
    content: '\e81b';
}

.icon-money:before {
    content: '\f0d6';
}

.icon-videocam:before {
    content: '\e81c';
}

.icon-mobile:before {
    content: '\e81d';
}

.icon-mail:before {
    content: '\e81e';
}

.icon-chart-bar:before {
    content: '\e818';
}

.icon-cloud-sun-inv:before {
    content: '\e816';
}

.pulse, .pulse1 {
    animation: pulse-glow 2.1s infinite;
}

.pulse2 {
    animation: pulse-glow 2.1s infinite 0.3s;
}

.pulse3 {
    animation: pulse-glow 2.1s infinite 0.6s;
}

.pulse4 {
    animation: pulse-glow 2.1s infinite 0.9s;
}

.pulse5 {
    animation: pulse-glow 2.1s infinite 1.2s;
}

.pulse6 {
    animation: pulse-glow 2.1s infinite 1.5s;
}

.pulse7 {
    animation: pulse-glow 2.1s infinite 1.8s;
}

.total-zero {
    color: rgb(113 113 122 / 0.5);
    letter-spacing: 0.1em;
}

.total-more {
    color: #60a5fa;
    letter-spacing: 0.1em;
}

.widgets-toggle {
    position: relative;
    padding-left: 2em;
    cursor: pointer;
}

.widgets-toggle::before {
    content: '↓';
    display: inline-block;
    position: absolute;
    left: 1em;
}

.widgets-toggle.widget-toggle-open::before {
    content: '↑';
}

.hidden-form {
    display: none !important;
}

.data-loading {
    opacity: 0.4;
    position: relative;
}

.data-loading::before {
    content: ' ';
    position: absolute;
    top: 20px;
    left: calc(50% - 40px);
    background: transparent url("../images/loading.gif") center top no-repeat scroll;
    z-index: 500;
    width: 80px;
    height: 80px;
    background-size: cover;
}

.value0 {
    color: var(--theme-red-medium);
}

.value1 {
    color: var(--theme-green-medium);
}

.cke_editable {
    padding: 0.5em 1em;
}

.cke_top, .cke_bottom, .cke_dialog_body {
    background-color: var(--theme-neutral-light-alt-hover) !important;
}

.cke_dialog_contents {
    background-color: var(--theme-neutral-light-alt) !important;
}

.cke_dialog_container table {
    border-width: 0 !important;
}

.home-incentive {
    background-color: var(--theme-neutral-dark-translucent-alt);
    border: 2px var(--theme-neutral-medium) solid;
    box-shadow: 0 0 30px 8px var(--theme-neutral-dark), -320px 0 140px -25px var(--theme-white), 320px 0 140px -25px var(--theme-white), 0 0 15px -2px var(--theme-white) inset;
    max-width: 1000px;
    padding: 1em 4em 2em 4em;
    border-radius: 500px;
    transition: all 0.15s ease-out;
    position: relative;
}

.home-incentive:hover {
    background-color: var(--theme-neutral-dark-translucent);
    border: 2px var(--theme-neutral-light) solid;
    box-shadow: 0 0 30px 8px var(--theme-neutral-dark), -320px 0 140px -20px var(--theme-white), 320px 0 140px -20px var(--theme-white), 0 0 26px -2px var(--theme-white) inset;
}

.format-incentive {
    box-shadow: 0 0 15px -2px var(--theme-neutral-dark);
    background-color: var(--theme-neutral-dark-translucent);
    border: 1px var(--theme-neutral-dark-alt) solid;
    transition: all 0.15s ease-out;
    position: relative;
}

.format-incentive:hover {
    background-color: var(--theme-neutral-dark-translucent-alt);
    border: 1px var(--theme-neutral-dark-alt-hover) solid;
    box-shadow: 0 0 15px -2px var(--theme-neutral-dark-alt);
}

.format-incentive::before {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    border-left: 1px solid var(--theme-gray-light-translucent);
    border-top: 1px solid var(--theme-gray-light-translucent);
    width: 20px;
    height: 20px;
}

.format-incentive::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: ' ';
    border-right: 1px solid var(--theme-gray-light-translucent);
    border-bottom: 1px solid var(--theme-gray-light-translucent);
    width: 20px;
    height: 20px;
}

.game-choice-image {
    border-bottom: 1px var(--theme-neutral-medium) solid;
}

.color-cycle {
    animation: hueCycle 6s linear infinite;
}

.gradient-cycle {
    position: relative;
    overflow: hidden;
    color: white;
}

.gradient-cycle::after {
    content: "";
    position: absolute;
    top: 0;
    left: -200%;
    width: 180%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent 0%,
        transparent 20%,
        rgba(255, 255, 255, 0.15) 30%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(255, 255, 255, 0.15) 70%,
        transparent 80%,
        transparent 100%
    );
    animation: gradient-cycle 4.5s ease-out infinite;
    will-change: transform;
    pointer-events: none;
    mix-blend-mode: overlay;
}

.format-help {
    font-size: 1.1em;
    padding: 0 30px;
    margin: 1em auto;
}

.format-help strong {
    color: var(--theme-yellow-light);
}

.format-card {
    width: 350px;
    box-shadow: 0 0 0 2px oklch(from var(--theme-yellow-dark) l c h / calc(alpha - 0.3)),
    0 0 25px 8px oklch(from var(--theme-yellow-dark) l c h / calc(alpha - 0.9));
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    will-change: transform, box-shadow;
    border-radius: 4px;
    background-color: var(--theme-neutral-dark-hover);
    transition: 0.15s all ease-out;
}

.format-card:hover {
    box-shadow: 0 0 0 3px oklch(from var(--theme-yellow-light) l c h / calc(alpha - 0.2)),
    0 0 35px 12px oklch(from var(--theme-yellow-light) l c h / calc(alpha - 0.8));
    transform-style: preserve-3d;
}

.format-card a {
    display: flex;
    transform-style: preserve-3d;
    flex-direction: column;
    height: 100%;
}

.format-image-container {
    transform-style: preserve-3d;
}

.format-card img {
    position: relative;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px var(--theme-neutral-medium) solid;
    box-shadow: 0 5px 5px var(--theme-neutral-dark-translucent);
}

.format-card .pop-text {
    transform: translateZ(40px);
}

.format-card .title-h3 {
    border-bottom: 1px var(--theme-neutral-medium) solid;
    margin: 0;
    min-height: 3.5em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-wrap: balance;
}

.format-ball {
    aspect-ratio: 1;
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: radial-gradient( circle at 30% 30%, var(--theme-yellow-light) 0%, var(--theme-yellow-medium) 25%, var(--theme-yellow-dark) 55%, #5f5f5f 75%, var(--theme-yellow-light) 100% );
    box-shadow: 0 0 0 3px var(--theme-neutral-dark), 0 0 13px 3px var(--theme-neutral-dark);
    position: absolute;
    transform: translateZ(40px);
    margin: 0;
    line-height: 51px;
    font-size: 1.8em;
    padding: 1px;
    color: var(--theme-neutral-dark);
    text-shadow: 1px 0 0 var(--theme-neutral-light-alt-hover);
    font-weight: bold;
}

.format-ball-blue {
    background: radial-gradient( circle at 30% 30%, var(--theme-blue-light) 0%, var(--theme-blue-medium) 25%, var(--theme-blue-dark) 55%, #5f5f5f 75%, var(--theme-blue-light) 100% );
}

.format-ball-red {
    background: radial-gradient( circle at 30% 30%, var(--theme-red-light) 0%, var(--theme-red-medium) 25%, var(--theme-red-dark) 55%, #5f5f5f 75%, var(--theme-red-light) 100% );
}

.format-ball-green {
    background: radial-gradient( circle at 30% 30%, var(--theme-green-light) 0%, var(--theme-green-medium) 25%, var(--theme-green-dark) 55%, #5f5f5f 75%, var(--theme-green-light) 100% );
}

.format-ball-gray {
    background: radial-gradient( circle at 30% 30%, var(--theme-neutral-light) 0%, var(--theme-neutral-medium) 25%, var(--theme-neutral-dark) 55%, #5f5f5f 75%, var(--theme-neutral-light) 100% );
}

.coming-soon {
    opacity: 0.3;
    filter: saturate(0.3);
}

.coming-soon a {
    cursor: not-allowed;
}

.btn-star {
    position: relative;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 10px 30px;
    display: block;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    transition: color 0.5s ease, background-color 0.1s ease, box-shadow 0.15s ease-out;
}

.btn-star.btn-big {
    border-radius: 0 !important;
}

.btn-star .top-left,
.btn-star .top-right,
.btn-star .bottom-left,
.btn-star .bottom-right {
    width: 15px;
    height: 15px;
    position: absolute;
}

.btn-star .bottom-right,
.btn-star .bottom-left {
    bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.btn-star .top-left,
.btn-star .top-right {
    top: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.btn-star .top-left,
.btn-star .bottom-left {
    left: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.btn-star .top-right,
.btn-star .bottom-right {
    right: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.btn-star:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    top: 0;
    left: 0;
    transition: border-color 0.2s ease;
}

.btn-star:hover {
    -webkit-animation: StarBackground 0.5s;
    animation: StarBackground 0.5s;
    background-color: rgba(255, 255, 255, 0.09);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 9px -5px var(--theme-white-alt);
}

.btn-star.btn-blue {
    background-color: var(--theme-blue-medium-translucent);
}

.btn-star.btn-blue:hover {
    background-color: var(--theme-blue-light-translucent);
}

.btn-star.btn-gray {
    background-color: var(--theme-gray-medium-translucent);
}

.btn-star.btn-gray:hover {
    background-color: var(--theme-gray-light-translucent);
}

.btn-star.btn-green {
    background-color: var(--theme-green-medium-translucent);
}

.btn-star.btn-green:hover {
    background-color: var(--theme-green-light-translucent);
}

.btn-star:hover .top-left,
.btn-star:hover .top-right,
.btn-star:hover .bottom-left,
.btn-star:hover .bottom-right {
    border: none;
}

.btn-star:hover:before {
    border-color: rgba(255, 255, 255, 0.4);
    -webkit-animation: StarBorderColor 1s;
    animation: StarBorderColor 1s;
}

.comingsoon {
    color: var(--theme-yellow-light);
    font-style: italic;
}

@keyframes StarBackground {
    10% {
        background-color: rgba(255, 255, 255, 0.1);
        -webkit-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(1px);
    }
    20% {
        background-color: rgba(255, 255, 255, 0);
    }
    40% {
        background-color: rgba(255, 255, 255, 0.05);
    }
    50% {
        background-color: rgba(255, 255, 255, 0);
    }
    60% {
        background-color: rgba(255, 255, 255, 0.3);
    }
    70% {
        background-color: rgba(255, 255, 255, 0);
        -webkit-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
    }
    80% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    90% {
        background-color: rgba(255, 255, 255, 0.1);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.09);
    }
}

@keyframes StarBorderColor {
    10% {
        border-color: rgba(255, 255, 255, 0.1);
    }
    20% {
        border-color: rgba(255, 255, 255, 0.05);
    }
    40% {
        border-color: rgba(255, 255, 255, 0);
    }
    50% {
        border-color: rgba(255, 255, 255, 0.3);
    }
    60% {
        border-color: rgba(255, 255, 255, 0);
    }
    70% {
        border-color: rgba(255, 255, 255, 0.2);
    }
    80% {
        border-color: rgba(255, 255, 255, 0.7);
    }
    90% {
        border-color: rgba(255, 255, 255, 0);
    }
    100% {
        border-color: rgba(255, 255, 255, 0.4);
    }
}

@keyframes hueCycle {
    0% {
        filter: hue-rotate(0deg) saturate(1) brightness(1);
    }
    33% {
        filter: hue-rotate(120deg) saturate(2.5) brightness(1.2);
    }
    66% {
        filter: hue-rotate(240deg) saturate(0.2) brightness(2.2);
    }
    100% {
        filter: hue-rotate(360deg) saturate(1) brightness(1);
    }
}

@keyframes gradient-cycle {
    0% {
        transform: translateX(-500%);
        opacity: 0;
    }
    10% {
        transform: translateX(-200%);
        opacity: 0;
    }
    70% {
        transform: translateX(50%);
        opacity: 1;
    }
    75% {
        transform: translateX(100%);
        opacity: 1;
    }
    85% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(500%);
        opacity: 0;
    }
}

@keyframes pulse-glow {
    0% {
        filter: brightness(100%) drop-shadow(0 0 0 rgba(255, 255, 255, 0.7));
    }
    10% {
        filter: brightness(120%) drop-shadow(0 0 18px rgba(255, 255, 255, 0.8));
    }
    100% {
        filter: brightness(100%) drop-shadow(0 0 0 rgba(255, 255, 255, 0));
    }
}

@keyframes shine-move {
    0% {
        filter: drop-shadow(-5px 0 5px var(--theme-green-dark));
    }
    50% {
        filter: drop-shadow(0 0 18px var(--theme-green-medium));
    }
    100% {
        filter: drop-shadow(-5px 0 5px var(--theme-green-light));
    }
}

@media screen and (max-width: 1500px) {
    h1, .title-h1 {
        font-size: 1.8em !important;
    }

    h2, .title-h2 {
        font-size: 1.5em !important;
    }

    h3, .title-h3 {
        font-size: 1.25em !important;
    }

    h4, .title-h4 {
        font-size: 1.18em !important;
    }

    h5, .title-h5 {
        font-size: 1.1em !important;
    }

    .main-row ul li {
        margin-left: 1.1em;
    }

    .menu a {
        padding: 0.34em;
    }

    nav {
        width: 100%;
    }

    .header .home-link a::before {
        left: calc(50% - 3em);
        top: 0.3em;
    }

    .event-places::before {
        left: -6px;
    }

    .event-places::after {
        right: -6px;
    }

    .menu-header .home-link {
        background-color: var(--theme-neutral-dark-translucent) !important;
        border-width: 1px;
        border-style: solid;
        border-color: #71717a !important;
    }

    .home-link a {
        color: white;
        font-weight: bold;
    }

    .header nav > ul > li > ul {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    .header nav > ul > li > a {
        background-color: var(--theme-neutral-dark-translucent) !important;
    }

    .header nav > ul > li {
        background-color: var(--theme-neutral-dark-translucent);
        border-bottom-width: 1px;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-style: solid;
        border-color: #71717a !important;
    }

    #locales > a {
        display: none;
    }

    .home-actions {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .page-header-title h1 {
        font-size: 1.5em !important;
    }

    .page-header-title h1 img {
        height: 30px;
    }

    .table-wrapper {
        width: 100%;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        table-layout: auto;
        overflow: hidden;
    }

    td, th {
        overflow-wrap: normal;
        white-space: nowrap;
        min-width: 200px;
    }

    .actions-column {
        white-space: wrap;
    }

    .table-id-column {
        width: 3em;
        min-width: 3em;
    }

    .header-highlight-table thead {
        top: 0;
    }

    .submenu-link {
        width: 100% !important;
        box-sizing: border-box;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .header-highlight-table thead {
        position: relative;
    }

    .top-menu {
        position: fixed !important;
    }

    #header-menu {
        padding: 0;
        overflow-y: scroll;
        max-height: 100vh;
        position: relative;
    }

    .custom-block-container {
        font-size: 0.8em;
    }

    code {
        min-width: auto;
        white-space: break-spaces;
    }

    .spacer-row {
        height: 6em;
    }

    .dt-search {
        padding: 0.5em 1em;
        width: 100%;
    }
}
