{% if block_key is defined and block_key is not empty %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="front-admin-links-container text-sm">
            <a href="{{ url('admin_custom_block_index') }}" title="{{ 'admin.customblock.editlink.label'|trans({'blockkey': ('customblock.' ~ block_key ~ '.name')|trans}) }}">
                {{ 'admin.customblock.editlink.label'|trans({'%blockkey%': ('customblock.' ~ block_key ~ '.name')|trans}) }}
            </a>
        </div>
    {% endif %}
    <div class="custom-block-container">
        {% cache 'block_content_' ~ block_key ttl(600) %}
            {{ custom_blocks(block_key)|raw }}
        {% endcache %}
    </div>
{% endif %}
