{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ 'admin.nav.mtg.sourcecard.index.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.nav.mtg.sourcecard.index.title'|trans }}</h1>

    {{ component('AdminMTGSourceCardIndexFormComponent', {
        nameEN: filters.nameEN|default(null),
        isCommandZoneEligible: filters.isCommandZoneEligible|default(null),
        page: app.request.attributes.get('page')|default(1),
        filtersActive: initialFiltersActive
    }) }}
{% endblock %}
